  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <!-- ADD THIS -->
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <!-- / ADD THIS -->

  <div class="actions">
    <%= form.submit %>
  </div>
