    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-lg-3">

          <h2 class="my-4">Notre collection :</h2>

        </div>


          <div class="row">
          <% @items.each do |item|  %>
            <div class="col-lg-4 col-md-6 mb-4" id="img-<%=item.id%>">
              <div class="card h-100">
                <p><%= image_tag item.image.variant(resize: "450X450").processed %> </p>

                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/product/<%=item.id%>"><%=item.title%></a>
                  </h4>
                  <h5><%= item.price%> $</h5>
                  <p class="card-text"><%=item.description%></p>
                </div>
                <div class="card-footer">
                  <%if user_signed_in?%>
                  <%= link_to "Add to cart", "/cart?id_add="+ item.id.to_s, class: "btn btn-sm btn-danger bouton-d far fa-trash-alt",  method: :post%>
                  <%end%>
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
          <% end%>
          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->
      <p>&nbsp;</p>
    </div>
    <!-- /.container -->