<body>
    <!-- Page Content -->
        <div class="left_show">
          <h1 class="h_show"><%= @item.title %></h1>
          <img src="<%= @item.image_url %>" class="img_size_show">
        </div>

        <div class="right_show">
        <br>
        <div class="card border-secondary mb-3" style="max-width: 40rem;">
        <div class="card-body text-secondary">
        <div class="title_header">
        <small class="text-muted"> &#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
        <br>
        <p class="card-text">Format 20x30cm dans un cadre noir satin.</p>
        <p class="card-text">Photo de <%= @item.title %>, un chat tout mignon de la famille des <%=@item.description%>.</p>
        <div class ="prix">
        <div class="alert alert-secondary" role="alert" style="max-width: 20rem;">
         PHOTO AU PRIX FOU DE : <strong><%=@item.price%>€</strong> !!
        </div>
        </div>
        <%if user_signed_in?%>
        <%= link_to "Add to cart", "/cart?id_add="+ @item.id.to_s, class: "btn btn-sm btn-danger bouton-d far fa-trash-alt",  method: :post%>
        <%end%>
        <br>
        <br>
        </div>
        </div>
        </div>
    <!-- /.container -->

</body>
