
<table class="table" style="color: white;">
  <thead>
	  <tr>
      <td>Chat trop mignon</td>
      <td>Nom du chat trop mignon</td>
	  	<td>Description</td>
      <td>Quantité dans le panier</td>
			<td></td>
		</tr>
	</thead>
  <tbody id = "<%=@cart.id%>">
  <%if @content%>
    <% @content.each_with_index do |item, index| %>
	    <tr id='element_<%=item.id%>', remote: true>
        <td><img class="avatar" width="200" height="120" class="card-img-top"  src='<%=item.image_url%>'></td>
		    <td><%= item.title %></td>
		    <td><%= item.description  %></td>
        <td><%= @cart.quantities[index]%>
			  <td><%= link_to " Delete", cart_path(@cart, :id_delete => item.id), class: "btn btn-sm btn-danger bouton-d far fa-trash-alt", remote: true,  method: :delete, data: { confirm: "Are you sure?" } %></td>
	    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<p id="price">Votre total actuel est de <%=@price%> $</p>
<div>

    