<div class = 'content-order'>
  <h2>Commande <%=@order.id%></h2>
  <br/>
	<h4><%= @order.price  %></h4>
  <br/>
  <%@order.items.each_with_index do |item, index|%>
    <div id='item_<%index%>' class ='d-flex flex-row'>
      <img width="130" height="100" class="card-img-top" src='<%=item.image_url%>' alt="">
      <p><%=@order.quantities[index]%> x <%= item.title  %></p>
    </div>
  <%end%>
	<h4> Date de la commande: <%=@order.created_at%></h4>
</div>
